
@font-face {

	font-family: 'Dancing Script', cursive;
    src: url('DancingScript-Bold.ttf');
}

# logo  {
    -fx-font-family: DancingScript-Bold
}



.button:focused {
    -fx-border-width: 3px;
}

#menuPane {
    -fx-background-color: #f58f8fff;
    -fx-border-color: #af4345;
    -fx-border-style: dashed;
    -fx-border-width: 2px;

}


#closeBtn{
    -fx-background-color: transparent;
}

.viewOrderManager{
    -fx-background-color: #8e7cc3ff;
    -fx-background-radius: 60px
}
.viewOrderWaiter{
    -fx-background-color: #f55e61ff;
    -fx-background-radius: 60px
}
.ordersTblManager{
    -fx-background-color:  #b4a7d6ff;
}
.ordersTblWaiter{
    -fx-background-color: #f58f8fff;
}
.viewOrderPaneManager{
    -fx-background-color:  #b4a7d6ff;
    -fx-border-color:   #9900ff;
}
.viewOrderPaneWaiter{
    -fx-background-color:  #f58f8fff;
    -fx-border-color:  #af4345;
}


