@font-face {
    font-family: DancingScript-Bold
    src: url('DancingScript-Bold.ttf');
}

.text {
    -fx-font-family: DancingScript-Bold
}
@font-family: 'Dancing Script', cursive;

<style>
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
</style>